@charset "utf-8";
.vidcenter {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: block;
}

  body {
    background-color: black;
  }
.introfont {
    color: #FFFFFF;
    font-style: italic;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: block;
    text-align: center;
    margin-top: 177px;
}
.buttonstyle {
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    display: block;
    width: 100px;
    height: 50px;
    color: #000000;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    font-style: normal;
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    border: thick double #000000;
    background-color: #FFFFFF;
    border-radius: 29px;
}
